/*Universal selector for all CSS properties.*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Colour for the main body code block.*/
body {
    background-color: #d9dcd6;
}

/*Properties for the header element within the body code block.*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #006411;
    color: #ffffff;
    text-decoration: none;
}

/*Properties for h1 within header code block.*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Properties for text "Terra" of "Modern Terra" within header code block.*/
header h1 .terra {
    color: #c46200;
}

/*Properties for sections within header code block.*/
header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Properties for ul element in the section within header code block.*/
header section ul li,
a {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

/*Properties for the p class which in this case is the text used throughout the website.*/
p {
    font-size: 16px;
}

/*Properties for the figure element to show an image below the header.*/
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Properties for the main section to use a display*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Properties for the float-left class used by the main section for alignment.*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Properties for the float-right class used by the main section for alignment.*/
.float-right {
    float: right;
    margin-left: 25px;
}


/*Properties for the section classes within the main element. Effects Search Engine Optimization(SEO), Online Reputation Management(ORM), Social Media Marketing(SMM) classes.*/
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #006411;
    color: #ffffff;
}

/*Properties for the image within the SEO, ORM, SMM class.*/
main section img {
    max-height: 200px;
}

/*Properties for the h1, h2, h3 header text within SEO, ORM, SMM class.*/
main section h1,
h2,
h3 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Properties for the aside element within the body code block.*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #006411;
}

/*Properties for the entire section class used within the aside code block. Effects the section.*/
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Properties for the h4, h5, h6 element used within the aside code block. Effects the h1, h2, h3 header.*/
aside section h4,
h5,
h6 {
    margin-bottom: 12px;
    font-size: 20px;
    text-align: center;
}

/*Properties for the benefit-lead img class used within the aside section. Effects the image.*/
aside section img {
    display: block;
    margin: 12px auto;
    max-width: 150px;
}

/*Properties for the footer element.*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Properties for the h2 class within the footer element.*/
footer h2 {
    font-size: 20px;
}